body {
    background-color: rgb(228, 151, 205);
    display: flex;
    justify-content: center;
}
.grid_container {
    height: 1400px;
    width: 957px;
    background-color: #fff;
    padding-left: 80px;
    padding-top: 80px;
}
.grid1 {
    display: grid;
    grid-template: "boxA boxB" 200px/420px 420px;
    column-gap: 55px;
}
.grid1 h2 {
  border: 1px solid black;
}
.grid img {
  border: 1pz solid black;
}
#boxA {
  margin-top: 0;
  grid-area: boxA;
  display: grid;
  width: 420px;
  height: 200px;
  place-items: center;
  font-weight: 400;
  font-size: 48px;
}
#boxB {
  grid-area: boxB;
  width: 420px;
  height: 200px;
  border: 1px solid black;
}

.grid2 {
  margin-top: 48px;
  display: grid;
  grid-template: "boxC boxD boxF boxG" 200px "boxE boxE boxF boxH" 200px/150px 150px 335px 150px;
  row-gap: 48px;
  column-gap: 35px;
}
#boxC {
  grid-area: boxC;
  width: 150px;
  height: 200px;
  border: 1px solid black;
}
#boxD {
  grid-area: boxD;
  width: 150px;
  height: 200px;
  border: 1px solid black;
}
#boxE {
  grid-area: boxE;
  width: 335px;
  height: 200px;
  border: 1px solid black;
}
#boxF {
  grid-area: boxF;
  width: 335px;
  height: 448px;
  border: 1px solid black;
}
#boxG {
  grid-area: boxG;
  width: 150px;
  height: 200px;
  border: 1px solid black;
}
#boxH {
  grid-area: boxH;
  width: 150px;
  height: 200px;
  border: 1px solid black;
}

.grid3 {
  display: grid;
  grid-template: "boxI boxJ boxK" 200px/150px 150px 500px;
  column-gap: 35px;
  margin-top: 48px;
}
#boxI {
  width: 150px;
  height: 200px;
  border: 1px solid black;
}
#boxJ {
  width: 150px;
  height: 200px;
  border: 1px solid black;
}
#boxK {
  width: 520px;
  height: 200px;
  border: 1px solid black;
}
p{
  text-align: center;
  font-weight: 400;
  font-size: 48px;
}
